* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.header {
    height: 4rem;
    background-image: url("../imagenes/cabecera.jpg");
    background-size: cover;
}

@media screen and (min-width: 601px) {
   .titulo {
     font-size: 2rem;
   }
 }
 
 @media screen and (max-width: 600px) {
   .titulo {
     font-size: 1rem;
   }
 }

.navbar, .btn {
    background-color: #030B19!important;
    font-size: 1rem;
    margin-top: -0.5rem;
}

.nav-link, .icons{
   text-decoration: none; 
   padding: 10px;
   color: white!important;
}

.nav-link:hover, .icons:hover, .btn:hover {
   background-color: white!important;
   color: #030B19!important; 
   border-radius: 5px;
   transition: ease 1s all; 
}

.container-fluid {
   min-height: calc(92.3vh - 4rem - 5rem); 
 	border: 1px solid #030B19;
}

.footer {
   height: 5rem;
   background-color: #030B19!important;

}

@media screen and (min-width: 601px) {
   .footer {
     font-size: 1rem;
   }
 }
 
 @media screen and (max-width: 600px) {
   .footer {
     font-size: 0.8rem;
   }
 }
